.centered {
    position: fixed;
    top: 40%;
    left: 40%;
    /* bring your own prefixes */
    transform: translate(-30%, -30%);
  }

.signup {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    overflow: hidden;
}