<div class="register register-with-news-feed">
<div class="signup">
        <div class="news-image" style="background-image: url(../assets/img/login-bg/login-bg-11.jpg)"></div>
        <div class="news-caption">
            <h4 class="caption-title"><b>Collector</b> Web App</h4>
            <p>
               Lorem ipsum dolor sit amet, consectetur adipiscing elit. current step == {{ step }} 
            </p>
            
        </div>
    </div>
</div>
<div class="panel panel-inverse centered">

    <div class="panel-body">

<form #f="ngForm" (ngSubmit)="formSubmit(f)"  class="form-control-with-bg">
    <!-- begin wizard -->
    <div id="wizard" class="sw-main sw-theme-default">
        <!-- begin wizard-step -->
        <ul class="nav nav-tabs step-anchor">
            <li *ngFor="let w of wizard" class="col-md-3 col-sm-4 col-6 nav-item" [ngClass]="{'active': step===w.number,'done': step > w.number}">
                <a (click)="step = w.number" style="cursor:pointer" class="nav-link">
                    <span class="number">{{w.number}}</span> 
                    <span class="info text-ellipsis">
                        {{w.title}}
                        <small class="text-ellipsis">{{w.description}}</small>
                    </span>
                </a>
            </li>
        </ul>
        <!-- end wizard-step -->
        <!-- begin wizard-content -->
        <div class="sw-container tab-content" style="min-height: 366px;">
            <!-- begin step-1 -->
            <div *ngIf="step == 1" id="step-1" class="tab-pane step-content" style="display: block;">
                <!-- begin fieldset -->
                <fieldset>
                    <!-- begin row -->
                    <div class="row">
                        <!-- begin col-8 -->
                        <div class="col-md-8 offset-md-2">
                            <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Personal info about yourself</legend>
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">First Name</label>
                                <div class="col-md-6">
                                    <input type="text" name="firstname" placeholder="John" class="form-control" ngModel>
                                </div>
                            </div>
                            <!-- end form-group row -->
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Last Name</label>
                                <div class="col-md-6">
                                    <input type="text" name="lastname" placeholder="Smith" class="form-control" ngModel>
                                </div>
                            </div>
                            <!-- end form-group row -->
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                    <label class="col-md-3 text-md-right col-form-label">Telephone</label>
                                    <div class="col-md-9">
                                        <input type="text" name="telephone" placeholder="Telephone" class="form-control m-b-10" ngModel>
                                    </div>
                            </div>
                            <div class="form-group row m-b-10">
                                    <label class="col-md-3 text-md-right col-form-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" name="email" placeholder="example@email.com" class="form-control m-b-10" ngModel>
                                    </div>
                            </div>
                            
                            <!-- end form-group row -->
                        </div>
                        <!-- end col-8 -->
                    </div>
                    <!-- end row -->
                </fieldset>
                <!-- end fieldset -->
            </div>
            <!-- end step-1 -->
            <!-- begin step-2 -->
            <div *ngIf="step === 2" id="step-2" class="tab-pane step-content" style="display: block;">
                <!-- begin fieldset -->
                <fieldset>
                    <!-- begin row -->
                    <div class="row">
                        <!-- begin col-8 -->
                        <div class="col-md-8 offset-md-2">
                            <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">You contact info, so that we can easily reach you</legend>
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Organization name</label>
                                <div class="col-md-6">
                                    <input type="text" name="organzationName" placeholder="" class="form-control" ngModel>
                                </div>
                            </div>
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Address</label>
                                <div class="col-md-6">
                                    <input type="text" name="address" placeholder="" class="form-control" ngModel>
                                </div>
                            </div>
                            <div class="form-group row m-b-10">
                                    <label class="col-md-3 text-md-right col-form-label">Domaine D'activité</label>
                                    <div class="col-md-6">
                                        <input type="text" name="activite" placeholder="" class="form-control" ngModel>
                                    </div>
                            </div>
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Logo</label>
                                <div class="col-md-6">
                                    <input type="file" class="form-control" id="exampleFormControlFile1">
                                </div>
                            </div>
                            
                        </div>
                        <!-- end col-8 -->
                    </div>
                    <!-- end row -->
                </fieldset>
                <!-- end fieldset -->
            </div>
            <!-- end step-2 -->
            <!-- begin step-3 -->
            <div *ngIf="step===3" id="step-3" class="tab-pane step-content" style="display: block;">
                <!-- begin fieldset -->
                <fieldset>
                    <!-- begin row -->
                    <div class="row">
                        <!-- begin col-8 -->
                        <div class="col-md-8 offset-md-2">
                            <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Select your login username and password</legend>
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Username</label>
                                <div class="col-md-6">
                                    <input type="text" name="username" placeholder="johnsmithy" class="form-control">
                                </div>
                            </div>
                            <!-- end form-group row -->
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Pasword</label>
                                <div class="col-md-6">
                                    <input type="password" name="password" placeholder="Your password" class="form-control">
                                </div>
                            </div>
                            <!-- end form-group row -->
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Confirm Password</label>
                                <div class="col-md-6">
                                    <input type="password" name="password2" placeholder="Confirmed password" class="form-control">
                                </div>
                            </div>
                            <!-- end form-group row -->
                        </div>
                        <!-- end col-8 -->
                    </div>
                    <!-- end row -->
                </fieldset>
                <!-- end fieldset -->
            </div>
            <!-- end step-3 -->
            <!-- begin step-4 -->
            <div *ngIf="step === 4" id="step-4" class="tab-pane step-content" style="display: block;">
                <div class="jumbotron m-b-0 text-center">
                    <h2 class="text-inverse">Register Successfully</h2>
                    <p class="m-b-30 f-s-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat commodo porttitor. <br>Vivamus eleifend, arcu in tincidunt semper, lorem odio molestie lacus, sed malesuada est lacus ac ligula. Aliquam bibendum felis id purus ullamcorper, quis luctus leo sollicitudin. </p>
                    <p><a href="javascript:;" class="btn btn-primary btn-lg">Proceed to User Profile</a></p>
                </div>
            </div>
            <!-- end step-4 -->
        </div>
        <div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end">
            <div class="btn-group mr-2 sw-btn-group" role="group">
                <button  class="btn btn-secondary sw-btn-prev disabled" (click)="previous()" type="button">Previous</button>
                <button *ngIf="step == 1"  type="submit" class="btn btn-primary sw-btn-next"> Submit</button >
                <!-- <button *ngIf="step !== 2" (click)="next()" class="btn btn-secondary sw-btn-next" type="button">Next</button> -->
            </div>
        </div>
        <!-- end wizard-content -->
    </div>
    <!-- end wizard -->
</form>
    </div>
    </div>