<h1 class="page-header">Campaign Name <small>header small text goes here...</small></h1>
<form action="/" method="POST" class="form-control-with-bg">
    <!-- begin wizard -->
    <div id="wizard" class="sw-main sw-theme-default">
        <!-- begin wizard-step -->
        <ul class="nav nav-tabs step-anchor">
                <li *ngFor="let w of wizard" class="col-md-3 col-sm-4 col-6 nav-item" [ngClass]="{'active': step===w.number,'done': step > w.number}">
                    <a (click)="step = w.number" style="cursor:pointer" class="nav-link">
                        <span class="number">{{w.number}}</span> 
                        <span class="info text-ellipsis">
                            {{w.title}}
                            <small class="text-ellipsis">{{w.description}}</small>
                        </span>
                    </a>
                </li>
        </ul>
        <!-- end wizard-step -->
        <!-- begin wizard-content -->
        <form #f="ngForm" (ngSubmit)="formSubmit(f)" class="margin-bottom-0">

        <div class="sw-container tab-content" style="min-height: 366px;">
            <!-- begin step-1 -->
            <div *ngIf="step == 1" id="step-1" class="tab-pane step-content" style="display: block;">
                <!-- begin fieldset -->
                <fieldset>
                    <!-- begin row -->
                    <div class="row">
                        <!-- begin col-8 -->
                        <div class="col-md-8 offset-md-2">
                            <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Personal info about yourself</legend>
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Name</label>
                                <div class="col-md-6">
                                    <input type="text" name="name" [(ngModel)]="campaign.name" placeholder="Test Campaign" class="form-control" ngModel>
                                </div>
                            </div>
                            <!-- end form-group row -->
                            <div class="form-group row m-b-10">
                            <label class="col-md-3 text-md-right col-form-label">Date Debut</label>
                                <div class="col-md-6 input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd"
                                        name="from" #c2="ngModel" [(ngModel)]=campaign.from ngbDatepicker #from="ngbDatepicker">
                                        <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="from.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                        </div>
                                </div>
                            </div>
                            <div class="form-group row m-b-10">
                                    <label class="col-md-3 text-md-right col-form-label">Date fin</label>
                                        <div class="col-md-6 input-group">
                                        <input class="form-control" [(ngModel)]=campaign.to placeholder="yyyy-mm-dd"
                                                name="to" #c2="ngModel" ngbDatepicker #to="ngbDatepicker">
                                        <div class="input-group-append">
                                        <button class="btn btn-outline-secondary" (click)="to.toggle()" type="button">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </div>
                                        </div>
                            </div>
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                    <label class="col-md-3 text-md-right col-form-label">Snap</label>
                                    <div class="col-md-6">
                                            <div class="switcher m-b-5">
                                                    <input type="checkbox" [(ngModel)]="campaign.snap" name="snap" id="snap" checked="campaign.snap" value="1" ngModel>
                                                    <label for="snap"></label>
                                            </div>
                                    </div>
                            </div>
                            <!-- end form-group row -->
                            <!-- begin form-group row -->
                            <div *ngIf="f.value.snap" class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Snap Tolerance</label>
                                <div class="col-md-6">
                                    <input type="number" [(ngModel)]="campaign.tolerance_snap" name="tolerance_snap" placeholder="1" class="form-control" ngModel>
                                </div>
                            </div>
                            <!-- end form-group row -->
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                    <label class="col-md-3 text-md-right col-form-label">Overlap</label>
                                    <div class="col-md-6">
                                            <div class="switcher m-b-5">
                                                    <input type="checkbox" [(ngModel)]="campaign.overlap" name="overlap" id="overlap" checked="campaign.overlap" value="1" ngModel>
                                                    <label for="overlap"></label>
                                            </div>
                                    </div>
                            </div>
                            <!-- end form-group row -->
                            <!-- begin form-group row -->
                            <div *ngIf="f.value.overlap" class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Overlap Tolerance</label>
                                <div class="col-md-6">
                                    <input type="number" [(ngModel)]="campaign.tolerance_overlap" name="tolerance_overlap" placeholder="1" class="form-control" ngModel>
                                </div>
                            </div>
                            <!-- end form-group row -->
                        </div>
                        <!-- end col-8 -->
                    </div>
                    <!-- end row -->
                </fieldset>
                <!-- end fieldset -->
            </div>
            <!-- end step-1 -->
            <!-- begin step-2 -->
            <div *ngIf="step == 2" id="step-2" class="tab-pane step-content" style="display: block;">
                <!-- begin fieldset -->
            <div class="row">
                <div class="col-md-12 text-right">
                <button (click)=newForm() class="btn btn-green" type="button">Nouveau formulaire</button>
                </div>
            </div>
            <div class="row m-t-5">
                <table *ngIf="forms.length !== 0" class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Color</th>
                                <th>Geometry</th>
                                <th>Activate</th>
                                <th>actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let form of forms">
                            <td>{{ form.id }}</td>
                            <td>{{form.name}}</td>
                            <td style="background:green"></td>
                            <td>{{ form.geometry }}</td>
                            <td class="with-checkbox">
                                    <div class="checkbox checkbox-css">
                                      <input (change)="toggleForm(form.id,form.isActive)" [(ngModel)]="form.isActive" type="checkbox" name="checkbox-{{form.id}}" id="checkbox-{{form.id}}" />
                                      <label for="checkbox-{{form.id}}">&nbsp;</label>

                                    </div>
                            </td>
                            <td class="with-btn" nowrap>
                                <a (click)="edit(form)" class="btn btn-sm btn-primary width-60 m-r-2">Edit</a>
                                <a (click)="deleteForm(form.id)" class="btn btn-sm btn-white width-60">Delete</a>
                            </td>
                            </tr>
                        </tbody>
                </table>
            </div>
                

                <div *ngIf="editing == true || creating == true">
                <div class="form-group row m-b-10">
                    <label class="col-md-3 text-md-right col-form-label">Name</label>
                    <div class="col-md-6">
                        <input type="text" [(ngModel)]="formulaire.name" name="name" placeholder="Test Campaign" class="form-control" ngModel>
                    </div>
                </div>

                <div class="form-group row m-b-10">
                    <label class="col-md-3 text-md-right col-form-label">Geometry</label>
                        <div class="col-md-6">
                            <select [(ngModel)]="formulaire.geometry" class="form-control"  name="geometry" ngModel>
                                <option *ngFor="let geo of geometries" [value]=geo.value>{{geo.title}}</option>
                            </select>
                        </div>
                </div>
                <hr>
                <fieldset>
                <legend class="m-b-15">Form Builder</legend>
                    
                <form-builder [form]="form"  (change)="onChange($event)"></form-builder>  
                <hr>
                <legend class="m-b-15">Render</legend>
                <formio [form]="render" [refresh]="refreshForm">

                </formio>        



                </fieldset>
            </div>
                <!-- end fieldset -->
            </div>
            <!-- end step-2 -->
            <!-- begin step-3 -->
            <div *ngIf="step == 3" id="step-3" class="tab-pane step-content" style="display: block;">
                <!-- begin fieldset -->
                <fieldset>
                    <!-- begin row -->
                    <div class="row">
                        <!-- begin col-8 -->
                        <div class="col-md-8 offset-md-2">
                            <legend class="no-border f-w-700 p-b-0 m-t-0 m-b-20 f-s-16 text-inverse">Select your login username and password</legend>
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Username</label>
                                <div class="col-md-6">
                                    <input type="text" name="username" placeholder="johnsmithy" class="form-control">
                                </div>
                            </div>
                            <!-- end form-group row -->
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Pasword</label>
                                <div class="col-md-6">
                                    <input type="password" name="password" placeholder="Your password" class="form-control">
                                </div>
                            </div>
                            <!-- end form-group row -->
                            <!-- begin form-group row -->
                            <div class="form-group row m-b-10">
                                <label class="col-md-3 text-md-right col-form-label">Confirm Pasword</label>
                                <div class="col-md-6">
                                    <input type="password" name="password2" placeholder="Confirmed password" class="form-control">
                                </div>
                            </div>
                            <!-- end form-group row -->
                        </div>
                        <!-- end col-8 -->
                    </div>
                    <!-- end row -->
                </fieldset>
                <!-- end fieldset -->
            </div>
            <!-- end step-3 -->
            <!-- begin step-4 -->
            <div *ngIf="step == 4" id="step-4" class="tab-pane step-content" style="display: block;">
                <div class="jumbotron m-b-0 text-center">
                    <h2 class="text-inverse">Register Successfully</h2>
                    <p class="m-b-30 f-s-16">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat commodo porttitor. <br>Vivamus eleifend, arcu in tincidunt semper, lorem odio molestie lacus, sed malesuada est lacus ac ligula. Aliquam bibendum felis id purus ullamcorper, quis luctus leo sollicitudin. </p>
                    <p><a href="javascript:;" class="btn btn-primary btn-lg">Proceed to User Profile</a></p>
                </div>
            </div>
            <!-- end step-4 -->
            <div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end">
                <div class="btn-group mr-2 sw-btn-group" role="group">
                    <button (click)=f.reset() class="btn btn-secondary sw-btn-prev disabled" type="button">Reset</button>
                    <button type="submit" class="btn btn-secondary sw-btn-next">Save</button>
                </div>
            </div>
        </div>
        </form>
        <!-- end wizard-content -->

    </div>
    <!-- end wizard -->
</form>